#!/usr/bin/make -f
# -*- makefile -*-
#
export DH_VERBOSE=1

%:
	dh $@ --with python2

override_dh_auto_build:
	python setup.py build_ext -I/usr/include/casacore
	python setup.py build

override_dh_clean:
	rm -rf python_casacore.egg-info/
	dh_clean

